@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');
/*


Global Styles



 */


html {

}


body {
  background-color: #f5f7fa;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #2c3e50;
}

h1, h2, h3 {
  font-weight: 700;
}

.bold {
  font-weight: 700;
  color: #2c3e50;
}

.p-text {
  font-size: 24px;
  font-weight: 300;
  color: #8d9aa5;
}

hr {
  color: #eee;
  border: solid .5px #eee;
  margin-top: 2px;
}

a {
  color: #fb8c00;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*


Home


 */

.white-background {
  display: flex;
  flex-flow: column;
  height: 100%;
  background: white;
  margin-top: 4.2rem;
}

#home-searchbar {
  border: solid 1px #fff;
  background: #fff;
  width: 80%;
  z-index: 1;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
  padding-left: 12px;
}

#home-search-btn {
  height: 100%;
  padding: 15px 14px 13px;
  margin-bottom: 8px;
  color: white;
  background: #fb8c00;
  border: solid 1px #fb8c00;
  border-radius: 2px;
  z-index: 1;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
/* 2px 2px 5px #888 */
/* 0 2px 2px 0 rgba(0,0,0,0.14) */
}

#home-title {
  margin-bottom: 1.9rem;
}


.white-row {
  background: white;
}


.card {
  background: #59748F;
}

/*




Songs




 */

#tracks-title {
  background-color: #fff;
  margin-bottom: 0;
  border: solid 1px #fff;
  border-bottom: solid .5px #eee;
  padding: 10px;
  border-radius: 2px;
}

.song-link {
  font-size: 16px;
  display: block;
  margin-top: 5px;
  color: #fb8c00;
}

.artist-name {
  margin: 0px;
  color: #8d9aa5;
}

.song-row {
  background-color: #fff;
  border: solid 1px #fff;
  border-radius: 2px;
}

.search-results-container {
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.icon-box {
  margin-top: 10px;
  height: 30px;
  width: 35px;
  float: left;
}




/*


ShowSong


 */

#show-song-container {
  height: 90vh;
  padding: 10px;
  padding-top: 0px;
  margin-top: 40px;
  margin-bottom: 10px;
  background-color: #fff;
  border: solid 1px #fff;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  overflow: auto;

}

.float-right {
  float: right
}

.lyrics-title {
  margin-top: 30px;
}

.row .col.heart-div {
  height: 60px;
  padding: 0px;
  padding-top: 6px;
  font-size: 30px;
}

#show-row {
  margin-bottom: 0px;
}

#show-row > h2.song-header {
  margin-top: 0px;
  padding: 0px;
  margin-bottom: 0px;
}

#show-artist-name {
  margin-top: 9px;
}



/*


Media Queries


 */


 @media all and (max-width: 550px) {
   #home-searchbar {
     width: 100%;
   }

   #home-search-btn {
     width: 100%;
   }

   .white-background {
     /* overflow: auto; */
   }
 }
