/*


Global Styles



 */

body {
  background-color: #f5f7fa;
}

h1, h2, h3, h4, h5, h6 {
  color: #2c3e50;
}

h1, h2, h3 {
  font-weight: 700;
}

.bold {
  font-weight: 600;
}

/*


Home


 */

.white-background {
  background-color: white;
  position: absolute;
  top: 300px;
  bottom: 0;
  width: 100%;
}

#home-searchbar {
  border: solid 1px #fff;
  background: #fff;
  width: 80%;
  z-index: 1;
  box-shadow: 2px 2px 5px #888;
}

#home-search-btn {
  height: 100%;
  padding: 14px;
  color: white;
  background: #fb8c00;
  border: solid 1px #fb8c00;
  border-radius: 2px;
  z-index: 1;
  box-shadow: 2px 2px 5px #888;

}

#home-title {
  margin-bottom: 1.9rem;
}


.white-row {
  background: white;
}





/*


ShowSong


 */

.float-right {
  float: right
}

.row .col.heart-div {
  height: 100px;
  padding: 0px;
  padding-top: 80px;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*


Media Queries


 */


 @media all and (max-width: 520px) {
   #home-searchbar {
     width: 100%;
   }

   #home-search-btn {
     width: 100%;
   }

   .white-background {
     top: 400px;
   }
 }
