.float-right {
  float: right
}

.song-header {

}

.row .col.heart-div {
  height: 100px;
  padding: 0px;
  padding-top: 80px;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
